


@mixin member {
  width: 100%;
  margin: 1.5% 0;
  display: grid;
  flex-direction: column;
  z-index: 1 !important;
}

@mixin memberTitle{
  width: 100%;
  height: 132px;
  display: flex;
  align-items: center;
  background-color: white;
}

@mixin memberTitleP{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  aline-height: 24px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #0B121A;


}

@mixin memberName {
  width: 100%;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #06554D;
}

@mixin memberNameH5{
  display: flex;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.05em;
  padding: 0px 5px;
  color: #FFFFFF;

}

#members{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(132px, 1fr));
  gap: 1px 10px;
}


  .member {

  @include member;
  }

.memberName {
  @include memberName;
}

.memberNameH5{
  @include memberNameH5
}

.memberTitle{
  @include memberTitle;
}

#memberTitleP{
  @include memberTitleP
}

#memberTitle{
  @include memberTitle;
}

